/**
 * common stylings
 */

/**
 * Top margins
 */
.m-t-5 {
  margin-top:5px;
}
.m-t-10 {
  margin-top:10px;
}
.m-t-15 {
  margin-top:15px;
}
.m-t-20 {
  margin-top:20px;
}
.m-t-25 {
  margin-top:25px;
}
.m-t-30 {
  margin-top:30px;
}

/**
 * Bottom margins
 */
.m-b-5 {
  margin-bottom:5px;
}
.m-b-10 {
  margin-bottom:10px;
}
.m-b-15 {
  margin-bottom:15px;
}
.m-b-20 {
  margin-bottom:20px;
}
.m-b-25 {
  margin-bottom:25px;
}
.m-b-30 {
  margin-bottom:30px;
}

/**
 * Top paddings
 */
.p-t-5 {
  padding-top:5px;
}
.p-t-10 {
  padding-top:10px;
}
.p-t-15 {
  padding-top:15px;
}
.p-t-20 {
  padding-top:20px;
}
.p-t-25 {
  padding-top:25px;
}
.p-t-30 {
  padding-top:30px;
}

/**
 * Bottom paddings
 */
.p-b-5 {
  padding-bottom:5px;
}
.p-b-10 {
  padding-bottom:10px;
}
.p-b-15 {
  padding-bottom:15px;
}
.p-b-20 {
  padding-bottom:20px;
}
.p-b-25 {
  padding-bottom:25px;
}
.p-b-30 {
  padding-bottom:30px;
}

body {
  font-family: $font-family;
}
