.navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  a {
    color: #fff;
  }
  a:hover {
    color: $active;
  }
  .navbar-right {
    float: right;
  }
  .active {
    color: $active;
  }
}
