/**
 * Contains all the commonly used scss variables
 */

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-25: 25px;
$font-size-30: 30px;
$navbar-background: #001f3f;
$active: #ff851b;
$font-family: 'PT Sans', sans-serif;
$screen-xs: only screen and (max-width: 576px);