<section class="row m-b-20">
  <section class="col-md-3">
    <div class="item-card">
      <a href="#" class="movie-text" title="">
        <img class="img-responsive">
        <span class="item-name">product</span>
        <p class="description">This is a simple product</p>
      </a>
    </div>
  </section>
</section>